<!--Footer Starts-->
<div class="footer-wrapper no-pad-tb v2">
    <div class="footer-top-area" >
        <div class="container">
            <div class="row nav-folderized">
                <div class="col-lg-3 col-md-12">
                    <div class="footer-logo">
                        <a href=""> <img src="../../assets/img/logo1.png" alt="logo" style="width: 50%;"></a>
                        <div class="company-desc">
                            <p>
                               YOUR EXPERIENCE <br> OUR PLANNING
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                   <div class="footer-content nav">
                   </div>
               </div>
               <div class="col-lg-3 col-md-12">
                <div class="footer-content nav">
                    <h2 class="title" routerLink="/feedback">Helpful Links</h2>
                    <ul class="list footer-list">
                        <li>
                            <div class="contact-info">
                                <div class="text" routerLink="/feedback" style="cursor: pointer;"><a>Feedback</a></div>
                            </div>
                        </li>
                        <li>
                            <div class="contact-info">
                                <div class="text" routerLink="/privacy" style="cursor: pointer;"><a>Privacy Policy</a></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

                <div class="col-lg-3 col-md-12">
                    <div class="footer-content nav">
                        <h2 class="title" routerLink="/contactus">Contact us</h2>
                        <ul class="list footer-list">
                            <li>
                                <div class="contact-info">
                                    <div class="icon">
                                        <i class="icofont icofont-email"></i>
                                    </div>
                                    <div class="text"><a>info@hashtagplanners.in</a></div>
                                </div>
                            </li>
                            <li>
                                <div class="contact-info">
                                    <div class="icon">
                                        <i class="icofont icofont-whatsapp"></i>
                                    </div>
                                    <div class="text">+91 8588090209</div>
                                </div>
                            </li>
                        </ul>
                        <ul class="social-buttons style2">
                            <li><a href="https://www.facebook.com/hashtagplannersIndia"><i class="icofont icofont-facebook" ></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCLJrU8DGBN69hVBCfjl0dJw/featured"><i class="icofont icofont-youtube"></i></a></li>
                            <li><a href="https://www.instagram.com/hashtagplannersindia"><i class="icofont icofont-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8 offset-md-2 text-center">
                    <p>&copy; 2021 Hashtag Planner. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Footer ends-->
