<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 

<div class="page-wrapper">
    <app-header></app-header>
    <!--Breadcrumb section starts-->
    <div class="breadcrumb-section" style="background-image: url(../../assets/img/about1.jpg);">
        <div class="overlay op-5"></div>
        <div class="container">
            <div class="row align-items-center  pad-top-80">
                <div class="col-md-6 col-12">
                    <div class="breadcrumb-menu">
                        <h2 class="page-title">Feedback</h2>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="breadcrumb-menu text-right sm-left">
                        <ul style="margin: 0px 0px 0px ; padding: 0px 0px 0px 0px ;">
                            <li class="active"><a href="">Home</a></li>
                            <li><a href="/feedback">Feedback</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Breadcrumb section ends-->
    <div class="contact-section v1 section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <h3>Write to us</h3>
                    <form action="" method="post" id="contact_form">
                        <div class="form-control-wrap">
                            <div id="message" class="alert alert-danger alert-dismissible fade"></div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="fname" placeholder="Name*" name="fname">
                            </div>
                            <div class="form-group mar-top-40">
                                <input type="email" class="form-control" id="email" placeholder="Email*" name="email">
                            </div>
                            <div class="form-group mar-top-40">
                                <input type="number" class="form-control" id="mobile" placeholder="Mobile Number*" name="mobile">
                            </div>
                            <div class="form-group mar-top-60">
                                <textarea class="form-control" rows="10" name="comment" id="comment" placeholder="Your Feedback"></textarea>
                            </div>
                            <div class="form-group mar-top-40">
                                <button type="submit" class="btn v7">Send Feedback</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>