<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
<div class="page-wrapper">
    <app-header></app-header>
    <!--Header ends-->
        <!--User Login section starts-->
        <br><br>
        <div class="user-login-section section-padding bg-fixed" style="background-image: url(../../assets/img/travel-4813658.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1  text-center">
                        <div class="login-wrapper">
                            <ul class="ui-list nav nav-tabs justify-content-center mar-bot-30" role="tablist">
                                <li class="nav-item">
                                    <img src="../../assets/img/k2k.jpg" width="20%" height="20%" alt="">
                                    <a class="nav-link active" data-toggle="tab" href="#register" role="tab" aria-selected="true" style="font-weight: bold; font-size: 25px;">Registration</a>
                                </li>
                            </ul>
                            <div class="ui-dash tab-content">
                                <div class="reg" id="register" role="tabpanel">
                                    <form id="register-form" action="#" method="post">
                                        <div class="container_1">
                                            <div class="form-group">
                                                <label for="name"><b>Name</b></label>
                                                <input type="text" placeholder="Name" name="name" id="name" required>
                                            </div>

                                            <div class="form-group">
                                                <label for="email"><b>Email Id</b></label>
                                                <input type="text" placeholder="Enter Email" name="email" id="email" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="mobile"><b>Mobile Number</b></label>
                                                <input type="text" placeholder="Mobile Number" name="mobile" id="mobile" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="aadhar"><b>Aadhar Card</b></label>
                                                <input type="number" placeholder="Aadhar Number" name="aadhar" id="aadhar" required>
                                                
                                            </div>
                                            <div class="form-group">
                                                <label for="upload1"><b>Upload your Aadhar Card</b></label>
                                                 <br><br>
                                                <input type="file"  name="upload1" id="upload1" required style="width: 80%;">
                                            </div>
                                            <div class="form-group">
                                                <label for="bike"><b>Motorcycle planning to take along with you on the K2K ride</b></label>
                                                <input type="text" placeholder="Bike Name" name="bike" id="bike" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="bikeNumber"><b>Registered motorcycle number</b></label>
                                                <input type="number" placeholder="Bike number" name="bikeNumber" id="bikeNumber" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="certificate"><b>Upload your Registration Certificate (R.C.) of above mentioned motorcycle</b></label>
                                                <input type="file" name="certificate" id="certificate" required style="width: 80%;">
                                            </div>
                                            <div class="form-group">
                                                <label for="fb"><b>Facebook profile/page link</b></label>
                                                <input type="text" placeholder="Facebook Link" name="fb" id="fb" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="insta"><b>Instagram profile/page link</b></label>
                                                <input type="text" placeholder="Instagram Link" name="insta" id="insta">
                                            </div>
                                            <div class="form-group">
                                                <label for="youtube"><b>Youtube Channel Link</b></label>
                                                <input type="text" placeholder="Youtube Link" name="youtube" id="youtube">
                                            </div>
                                            <div class="form-group">
                                                <label for="vlog"><b>Vlog/Photography portfolio/any other activity</b></label>
                                                <input type="text" placeholder="Portfolio" name="vlog" id="vlog" >
                                            </div>
                                            <div class="form-group">
                                                <label for="bike_2"><b>Motorcycle(s) you ride</b></label>
                                                <input type="text" placeholder="Bike Name" name="bike_2" id="bike_2" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="mean"><b>What does Motorcycle mean to you?</b></label>
                                                <input type="text" placeholder="Motorcycle means to you..." name="mean" id="mean" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="experience"><b>Riding experience/background (if any)</b></label>
                                                <input type="text" placeholder="Experience" name="experience" id="experience" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="group"><b>Belong to any riding group?</b></label>
                                                <input type="text" placeholder="Group" name="bike_2" id="group" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="km"><b>Maximum km's you've covered in one go</b></label>
                                                <input type="number" placeholder="In KM" name="km" id="km" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="km1"><b>Maximum km's you can ride</b></label>
                                                <input type="number" placeholder="In KM" name="km1" id="km1" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="about"><b>What do you think about the K2K ride?</b></label>
                                                <input type="text" placeholder="About K2K" name="about" id="about" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="time"><b>How early can you wake up for a motorcycle ride? (In AM)</b></label>
                                                <input type="time" placeholder="Time" name="bike_2" id="bike_2" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="hours"><b>Total number of hours for a motorcycle ride in a day?</b></label>
                                                <input type="number" placeholder="Hour" name="hour" id="hour" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="hours"><b>Preference</b></label>
                                                <select type="text" id="ride" name="ride">
                                                    <option value="">---Select---</option>
                                                    <option value="Solo Ride">Solo Ride</option>
                                                    <option value="Group Ride">Group Ride</option>
                                                </select>
                                                <br>
                                                <select type="text" id="planning" name="planning">
                                                    <option value="">---Select---</option>
                                                    <option value="Pre Planned Rides">Pre Planned Rides</option>
                                                    <option value="Random Rides">Random Rides</option>
                                                </select>
                                                <br>
                                                <select type="text" id="activity" name="activity">
                                                    <option value="">---Select---</option>
                                                    <option value="Sight Seeing">Sight Seeing</option>
                                                    <option value="Group Activity">Group Activity</option>
                                                </select>
                                                <br>
                                                <select type="text" id="day" name="day">
                                                    <option value="">---Select---</option>
                                                    <option value="Day Ride">Day Ride</option>
                                                    <option value="Night Ride">Night Ride</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="know"><b>How do you came to know about the K2K ride?</b></label>
                                                <input type="text" placeholder="Source" name="know" id="know" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="hours"><b>During the K2K ride one of your riding partner get injured you will :-</b></label>
                                                <select type="text" id="injured" name="injured">
                                                    <option value="">---Select---</option>
                                                    <option value="Stop for his/her assistance and let the team move ahead">Stop for his/her assistance and let the team
                                                     move ahead</option>
                                                    <option value="Stop the whole team">Stop the whole team</option>
                                                    <option value="Ignoring and continue the ride">Ignoring and continue the ride</option>
                                                    <option value="Informing the medical assistance team and move ahead">Informing the medical assistance team and move
                                                    ahead</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="riding"><b>What does riding means to you?</b></label>
                                                <input type="text" placeholder="Riding means to you..." name="riding" id="riding" required>
                                            </div>
                                            <div class="form-group"></div>
                                            <div class="form-group"></div>
                                        <hr>
                                        <button type="submit" class="registerbtn" (click)="showErrorAlert()">Preview</button>
                                         </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

 <!--Footer Starts-->
<app-footer></app-footer>