<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
<div class="page-wrapper">
    <!--header starts-->
    <app-header></app-header>
    <!--Header ends-->
    <!--Breadcrumb section starts-->
    <div class="breadcrumb-section" style="background-image: url(../../assets/img/about1.jpg);">
        <div class="overlay op-5"></div>
        <div class="container">
            <div class="row align-items-center  pad-top-80">
                <div class="col-md-6 col-12">
                    <div class="breadcrumb-menu">
                        <h2 class="page-title">About us</h2>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="breadcrumb-menu text-right sm-left">
                        <ul>
                            <li class="active"><a href="">Home</a></li>
                            <li><a href="/about">About us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Breadcrumb section ends-->
    <!--About section starts-->
    <div class="about-section section-padding pad-bot-90">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-text res-box">
                        <span>About Us</span>
                        <h2>Best Deals in One Place</h2>
                        <p>We create unforgettable events that leave a lasting impression on your guests. Our dedicated team of professionals work tirelessly in search of innovative new ways to delight your guests so every time they think of that experience, they think of you.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-img">
                        <img src="../../assets/img/about.png" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--About section ends-->
    <!--Counter section starts-->
    <div class="counter-section bg-xs" style="background-image: url(../../assets/img/about2.jpg)">
        <div class="overlay op-5"></div>
        <div class="container">
            <div class="row pad-tb-90">
                <div class="col-md col-6" style="position: relative; width:100%; padding-right:15px; padding-left: 0px;">
                    <div class="counter-text">
                        <i class="icofont icofont-island-alt"></i>
                        <h6 class="counter-value">107
                        </h6>
                        <p> Unique Destination</p>
                    </div>
                </div>
                <div class="col-md col-6" style="position: relative; width:100%; padding-right:15px; padding-left: 0px;">
                    <div class="counter-text">
                        <i class="icofont icofont-street-view"></i>
                        <h6 class="counter-value">247</h6>
                        <p>Total Events</p>
                    </div>
                </div>
                <div class="col-md col-6" style="position: relative; width:100%; padding-right:15px; padding-left: 0px;">
                    <div class="counter-text">
                        <i class="icofont icofont-motor-biker"></i>
                        <h6 class="counter-value">150</h6>
                        <p>Complete Bike Rides</p>
                    </div>
                </div>
                <div class="col-md col-6"style="position: relative; width:100%; padding-right:15px; padding-left:0px;">
                    <div class="counter-text">
                        <i class="icofont icofont-thumbs-up"></i>
                        <h6 class="counter-value">938 </h6>
                        <p> Happy Customers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Counter section ends-->
    <!--Work-process starts-->
    <div class="work-process pad-bot-90 section-padding" style="background-color: rgb(218, 215, 215);">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <h2 class="section-title v1">See How It Works</h2>
                </div>
                <div class="col-md-4">
                    <div class="work-process-content v1 text-center">
                        <div class="process-icon v1">
                            <img src="../../assets/img/1.png" alt="...">
                            <span>1</span>
                        </div>
                        <h4 class="title">Explore The City</h4>
                        <!-- <p class="info">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique iste aliquam possimus, quaerat aut veritatis minima atque quam. Placeat, molestiae?
                        </p> -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-process-content v1 text-center">
                        <div class="process-icon v1">
                            <img src="../../assets/img/2.png" alt="...">

                            <span>2</span>

                        </div>
                        <h4 class="title">Find The Best Place</h4>
                        <!-- <p class="info">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique iste aliquam possimus, quaerat aut veritatis minima atque quam. Placeat, molestiae?
                        </p> -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-process-content v1 text-center">
                        <div class="process-icon v1">
                            <img src="../../assets/img/3.png" alt="...">

                            <span>3</span>
                        </div>
                        <h4 class="title">Add Your Listing</h4>
                        <!-- <p class="info">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique iste aliquam possimus, quaerat aut veritatis minima atque quam. Placeat, molestiae?
                        </p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Work-process ends-->
</div>
<!--Page Wrapper ends-->
<!--Footer Starts-->
 <app-footer></app-footer>
<!--Footer ends-->