<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 

<div class="page-wrapper">
    <app-header></app-header>
</div>  
<br><br><br><br><br><br>
<div class="k2k">
    <img src="../../assets/img/k2k.jpg" alt="">
</div>
<div class="container t1">
    <h1> 'Roads were made for journeys, not destination' </h1>
</div>

      <div class="container t">
          <br>
          <div class="row">
          </div>
          <div class="row">
              <br>
              <br>
              <p> The one who would love to live by this line will join us on our first major road trip travelling
                   right from the paradise of the India to touching down till the oceans. We are organising your best
                    memories of travel for you in the month of April 2021.We will make sure to take your life on a
                     voyage were
                  you rendez-vous with some of the best people, food, location and a experience to remember.</p>
                  <br>
                  <br>
                  <p> There will be 200 people like you who are just like you, wanted something more every dsy from live. Road trips are the only medium to look things differently, to live with the locals, to experienceevery bit of the  journey. This trip is going to be 30 different days in different cities with different food and people. 
                      We promote tourism to promote to take a break from yoyr day to daylife and challenges to do something exciting and adventures.
                      We embrace our biker to explore the city from its core to discover India for its true value.
                      With us you can encounter with India's best ROAD TRIP
                  </p>
          </div>
          <br>
          <br>
          <div class="row">
            <br>
            <br>
            <h4 style="font-weight: 900;">Notice</h4>
            <ul>
                <li> <b style="font-size: 20px;">•</b> Candidates will be selected on the basis of the answers you provide against the questionnaire</li>
                <li><b style="font-size: 20px;">•</b> The following questionnaire contains 25 questions.</li>
                <li><b style="font-size: 20px;">•</b> Basis on your answers our team will select the 200 best candidates.</li>
                <li><b style="font-size: 20px;">•</b> After answering all the questions you will get an option to review your answers where you can edit any changes if required.</li>
                <li><b style="font-size: 20px;">•</b> <b>Registration amount :- 
                    Rs 1000/- inclusive of all taxes.</b></li>
                <li><b style="font-size: 20px;">•</b> <b>Registration fees is non- refundable.</b></li>
                <li><b style="font-size: 20px;">•</b> Once your payment is complete,you are registered for the K2K ride and the confirmation of selection will be provided on your registered email account and mobile number.</li>
                <li><b style="font-size: 20px;">•</b> If you agree with all the above statements You can click the registration button below.</li>
            </ul>
          </div>
          <br><br>
          
      </div>

      <div class="center">
        <button class="btn btn-primary" *ngIf="visible" onclick="window.location.href='https://registration.hashtagplanners.in'">Registration</button>
        <span class="no-children regiT" *ngIf="!visible" style=" font-family: 'Harlow Solid Italic', sans-serif; font-size: 30px;"> Registration will start from <br> {{range}} </span>
      </div>
      <div class="regiBtn">
        <button routerLink="/k2k" >Know more</button>
    </div>
<br>
<br>
<!--Footer Starts-->
<app-footer></app-footer>
<!--Footer ends-->