@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800');


dl,dt,dd,ol,ul,li {
    margin: 0;
    padding: 0;
}

a {
    color: #141414;
    text-decoration: none;
    position: relative;
    font-family: "poppins", sans-serif;
}

a:focus,
a:hover {
    color: #777;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,h2,h3,h4,h5,h6 {
    color: #141414;
    font-family: 'poppins', sans-serif;
    margin-top: 0;
    margin-bottom: 15px;
    letter-spacing: .025em;
    line-height: 1.6;
}




.pad-top-80 {
    padding-top: 80px !important;
}


.pad-bot-50 {
    padding-bottom: 50px !important;
}

.mar-top-30 {
    margin-top: 30px !important;
}

.section-padding {
    padding: 80px 0;
}

section.coupon {
    padding-top: 30px;
}

.container-fluid {
    padding: 0 30px;
}

/* -------------Overlay----------- */

.overlay {
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.op-5 {
    opacity: 0.5;
}

body {
    color: #777;
    font-family: 'poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
    overflow-x: hidden !important;
}


h2 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 0;
}


li {
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    list-style: none !important;

}


/*-------------------------------------------
               Breadcrumb
-----------------------------------------*/
.breadcrumb-section {
    position: relative;
    display: flex;
    align-items: center;
    height: 300px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.page-title {
    color: #fff;
}

.breadcrumb-menu ul li {
    position: relative;
    display: inline-block;

}

.breadcrumb-menu ul li::before {
    position: absolute;
    content: "/";
    right: -3px;
    top: 2px;
    color: #fff;
}

.breadcrumb-menu ul li:last-child:before {
    display: none;
}

.breadcrumb-menu ul li:last-child a {
    padding-right: 0;
}

.breadcrumb-menu ul li a {
    color: #fff;
    font-size: 14px;
    padding: 0 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.breadcrumb-menu ul li:nth-child(1) a {
    padding-left: 0;
}

/*--------------------------------------------
            Popular category 
----------------------------------------------*/
.popular-catagory-content {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.popular-catagory-img img {
    border-radius: 3px;
}

.popular-catagory-content .cat-content {
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all .6s;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgba(30, 195, 139, 0.9);
    border-radius: 3px;

}

.popular-catagory-content .title {
    color: #fff;
    font-size: 30px;
    margin: 0 0 10px 0;
    position: absolute;
    transform: translate(-50%, -50%);
    display: inline-block;
    top: 45%;
    left: 50%;
    padding-bottom: 5px;

}

.popular-catagory-content .title:before {
    position: absolute;
    bottom: 0%;
    left: 50%;
    content: "";
    width: 30px;
    height: 2px;
    background: #fff;
    transform: translateX(-50%);
}

.popular-catagory-content .info {
    font-size: 14px;
    color: #fff;
    margin: 0;
}

.popular-catagory-content .cat-content span {
    color: #fff;
    font-size: 18px;
    margin-top: 70px;
}

/*-----------------------------
        style 2
------------------------------*/
.popular-catagory-content.v2 .cat-content i {
    color: #fff;
    font-size: 30px;
}

.popular-catagory-content.v2 .cat-content {
    opacity: 1;
    background: transparent;
}

.popular-catagory-content.v2 .title {
    top: 52%;
    font-weight: 400;
    font-size: 20px;
}

.popular-catagory-content.v2 .cat-content span {
    font-size: 15px;
}

.popular-catagory-content.v2 {
    border-radius: 3px;
}



/*------------------------------------------
                Responsive Css
-------------------------------------------*/
@media only screen and (min-width: 575px)and (max-width:1199px) {

    .sidebar .widget.recent-posts .entry-title a {
        font-size: 20px;
    }

}


@media only screen and (min-width: 1025px) {

    .popular-catagory-content:hover.popular-catagory-content .cat-content {
        opacity: 1;
    }   
}

@media only screen and (max-width: 1024px) {
    .popular-catagory-content .cat-content {
        opacity: 1;

    }
}


@media only screen and (max-width:991px) {

    .popular-catagory-img img{
        width: 100%;
    }

    
    .sm-center {
        text-align: center !important;
    }

    .sm-right {
        float: right !important;
    }

    .md-left {
        float: left !important;
    }

    .btn.v1 {
        font-size: 16px !important;
        padding: 10px 20px !important;
        display: inline-block !important;
    }
}

@media only screen and (max-width:767px) {
    .bg-xs {
        height: 500px;
    }

    .hero__list-item a {
        padding: 5px 15px;
    }

    .sm-center {
        text-align: center !important;
    }

    .sm-right {
        float: right !important;
    }

    .sm-left {
        text-align: left !important;
    }

    .hero__description {
        font-size: 1rem;
    }

    .hero__title {
        letter-spacing: 0;
    }

    .hero-img.text-right {
        display: none;
    }

    .pricing-table .title:before {
        height: 400px;
        top: 100px;
        left: 55px
    }

    .pricing-table .title:after {
        width: 550px;
        height: 550px;
        top: 150px;
        right: -100px;
        transform: rotate(-20deg)
    }

    .counter-text {
        margin-top: 35px;
    }

    .margin-bot-35 {
        margin-bottom: 35px;
    }

    .hero-category-content {

        width: calc(100% * (1/3) - 21px);
        margin-bottom: 15px;

    }

    .list-details-btn {
        margin-top: 22px;
    }

    .list-details-tab {
        display: block;
    }

    .list-details-tab li.nav-item,
    .list-details-tab.fixed_nav li {
        display: block;
        border-bottom: 1px solid #ddd;
    }

    .list_menu {

        border-bottom: none;
    }

    .list-details-title.v1 {
        transform: translateY(300px);
    }

    .item-wrapper .product-list .trending-place-item .trending-title-box {
        padding: 20px 30px;
    }

    .hero__list-item a {
        font-size: 1rem;
    }

    .hero__list-item a i {
        font-size: 0.9375rem;
    }

    .hero__form-input {
        width: 100%;
        margin-right: 0;
    }


    .hero__input-holders {
        width: 100%;
        border-radius: 0.25rem;
    }

    .list-details-tab.nav-tabs .nav-link {
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    .list-details-tab.nav-tabs .nav-link.active {
        border-bottom: none;
    }

    .list-details-tab.nav-tabs {
        border-bottom: none;
    }

    .feature-left.float-left {
        margin-top: 25px;
    }

    .room-type-item .feature-right {
        margin-top: -47px;
    }

    .facilities-list {
        margin-top: 45px;
    }

    .listing-details-slider .single-listing-slider a img,
    .room-type-item img {
        width: 100%;
    }

    .customer-text {
        margin: 70px 0 0;
    }

    .review_wrap .rate-review {
        margin-bottom: 10px;
    }

    .list-tags {
        margin-bottom: 30px;
    }

    .review-box {
        padding: 0 10px;
    }

    .trending-prev,
    .popular-prev,
    .coupon-prev,
    .team-prev,
    .partner-prev,
    .testimonial-prev {
        left: 43%;
    }

    .trending-next,
    .popular-next,
    .coupon-next,
    .team-next,
    .partner-next,
    .testimonial-next {
        right: 43%;
    }

    .similar-next {
        right: 2%;
    }

    .coupon-desc.float-right h4 {
        margin-top: 30px;
        margin-bottom: 0;
    }

    .coupon-owner {
        margin-bottom: 20px;
    }

    .work-process-content {

        margin-bottom: 30px;
    }

    .event-wrapper{
        margin-bottom: 30px;
    }

    .contact-widget {
        margin-top: 50px;
    }

    .list-details-tab.nav-tabs.pricing-list .nav-item {
        margin-right: 0;
        text-align: left;
    }

    .list-details-tab.nav-tabs.pricing-list .nav-item:first-child {
        padding-right: 15px;
    }

    .app-content {
        padding-bottom: 30px;
    }

    .app-img {
        position: relative;
        top: 10px;
    }

    .action-title p {
        margin-bottom: 30px;
    }

    .add_list_content .filter-input {

        margin-bottom: 15px;
    }

    .list-details-title.v3 {
        transform: translateY(300px);
    }

    .user_info_menu {
        border-bottom: none;
    }

}

@media (max-width: 575px) {
    .xs-left {
        float: left !important;
    }

    .hero__description {
        font-size: 1rem;
    }

    .hero__title,
    .hero-title.v2 {
        font-size: 2.5rem;
        line-height: 3rem;
        margin-left: 0;
    }

    .hero__list-item a {
        font-size: 0.9375rem;
    }

    .hero__list-item a i {
        font-size: 0.9375rem;
    }

    .trending-btn-wrap .btn-danger {
        width: 100%;
    }

    ul.listing-features {
        columns: 1;
    }

    .list-single-facts ul {
        columns: 1;
    }

    a.rate-review {
        padding: 6px 10px;
        margin-right: 10px;
    }

    a.rate-review i {
        margin-right: 5px;
    }

    a.rate-review span {
        padding-left: 5px;
    }

    .review_wrap .rate-review {
        float: left !important;
        margin-bottom: 10px;
    }

    .review_wrap.has-child {
        margin-left: 30px;
    }

    .explore__form-checkbox-list.full-filter {
        left: 2%;
    }

    .nav-folderized .nav h2:after {
        right: 5%;
    }

    .page-wrapper.fixed-footer {
        margin-bottom: 640px;
    }

    .counter-text h6 {
        font-size: 25px;

    }

    .counter-text i {
        font-size: 20px;
    }

    .counter-text p {
        font-size: 15px;
    }

    .hero-catagory-menu ul li {
        margin-bottom: 15px;
    }

    .contact-form__upload-btn {
        margin-bottom: 40px;
    }

    .contact-form__input-file {
        width: 157px;
    }

    .sec_footer .social-buttons.style2,
    .sec_footer .list.footer-list {
        text-align: center !important;
    }

    .sec_footer .contact-info {
        display: inline-block;
    }

    .hero-slider-content {
        width: auto;
        padding-right: 40px;
    }

  

}

@media only screen and (max-width:480px) {
    .xs-center {
        text-align: center !important;
    }
    .popular-catagory-content .title {
        font-size: 25px;
        top: 38%;
    }

    .popular-catagory-content .cat-content span {
        margin-top: 60px;
    }

    .blog-hover-content a.btn.v6 {
        opacity: 0;
    }

    .blog-hover-content .blog-title {
        transform: translatey(12px);
    }


    .single-blog-item.v2:hover .blog-hover-content a.btn.v6 {

        opacity: 0;
    }

    .popular-item.sm-grid .single-place-content {
        bottom: 2.6rem;
    }

    .popular-item.sm-grid .single-place-title {
        margin-bottom: 5px;
    }

    .popular-item.sm-grid .single-place-title a {
        font-size: 20px;
    }

    .contact-form__input-file {
        width: 170px;
    }

    .payment_receipt--contents .btn.v3 {
        margin-top: 20px;
    }
    .tt{
        width: 90vw;
        margin-left: 5vw;
    }
    .tt h3{
        width:60%;
        line-height: 1.2;
    }
    .tt p{
        width: 90%;
    }
    .th{
        margin-top: 7px !important;
    }
}

@media (max-width: 320px) {
    .trending-title-box span {
        padding: 0 4px;
    }

    .trending-title-box p {
        font-size: 13px;
    }

    .trending-title-box ul li span {
        font-size: 12px;
        padding: 0 2px 0 0;
    }
}


.popular-catagory-content .cat-content,
.popular-catagory-content.v2:hover .cat-content {
    background: rgba(61, 61, 240,0.60);
}
