<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 

<header class="header transparent scroll-hide">
    <div class="site-navbar-wrap v2">
        <div class="container">
            <div class="site-navbar">
                <div class="row align-items-center">
                    <div class="col-md-4 col-6">
                        <a class="navbar-brand" href="#"><img src="../../assets/img/logo1.png" alt="logo" class="img-fluid" style="max-width: 70%;"></a>
                    </div>
                    <div class="col-md-8 col-6">
                        <nav class="site-navigation float-left">
                            <div class="container">
                                <ul class="site-menu js-clone-nav d-none d-lg-block">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li class="no-children">
                                        <a href="" routerLink="">Home</a>
                                    </li>
                                    <li class="no-children">
                                        <a href="" routerLink="/about">About Us</a>
                                    </li>
                                    <li class="no-children">
                                        <a href="" routerLink="/gallery">Gallery</a>
                                    </li>
                                    <li class="no-children">
                                        <a href="" routerLink="/ourservices">Our Services</a>
                                    </li>
                                    <li class="no-children">
                                        <button class="btn v8" type="button" routerLink="/firstpage">Pre Registration K2K<i class="icofont icofont-plus-circle"></i></button>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
      <div class="col-md-4 col-6" style="position: absolute; top: 8px; left: 3px; margin-right: 1rem;">
          <a class="navbar-brand" href=""><img src="../../assets/img/logo1.png" alt="logo" class="img-fluid" style="width: 85%; margin-top: -15px;"></a>
      </div>
       <div class="navbar-header" style="position: relative; top: 8px; right: 16px; margin-left: 280px;">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
           <span class="sr-only"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
           </button>
    
      </div>
          <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
              <li class="nav-item"><a routerLink="">Home</a></li>
              <li class="nav-item"><a routerLink="/about">About Us</a></li>
              <li class="nav-item"><a routerLink="/gallery">Gallery</a></li>
              <li class="nav-item"><a routerLink="/ourservices">Our Services</a></li>
              <li class="nav-item"><a routerLink="/itinerary">Itineraries</a></li>
              <li class="d-lg-none nav-item"><a routerLink="/firstpage" >Pre Registration K2K</a>
          </ul>
          </div>
       </div>
      </div>
</header>