<!--Header of page-->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 

<div class="page-wrapper">
    <app-header></app-header>
</div>  
<br>
<br>
<br>
<!-- Image  of K2K -->
<!-- <div class="row k2k">
        <a class="navbar-brand" href="#"><img src="../../assets/img/k2kheader.png" alt="logo" class="img-fluid" style="width: 100vw;"></a>
    </div> -->
    <div class="k2k">
        <img src="../../assets/img/k2k.jpg" alt="">
    </div>
<!-- Static Data-->

<br><br>
<div class="container t1 t">
    <div class="row">
    <h2 > Know About K2K The Phoenix Spirit </h2>
    <div>
    <h4 style="color:blue"> 1. What is K2K The Phoenix Spirit?</h4>
    <p> K2K The Phoenix Spirit is an astonishing ride which will include  200 bike riders and around 50 crew members and will commence from Kashmir and will end at Kanyakumari.<br>
        The above line itself explains the name K2K.<br>
        The main aim behind this ride is to promote tourism in India amd this ride gives all the bike lovers as well who loves road trips a once in a
        lifetime chance to explore our complete India in just 30 days.
        So be a part of this wounderful trip and give yourself and your dreams wings to fly.......
    </p>
    </div>
</div>
</div>

<div class="container t">
    <div class="row">
    <h4 style="color:blue">2. Why you should be a part of K2K The Phoenix Spirit?</h4>
    <p> Being a part of this ride will not only make you fulfil your dream but will also give you a chance to meet and interact with your favorite<br>
        youtuber and influencers.<br>
        A complete ride of 30 days will make us explor different states along with their cultures
        200 biker riders riding together will surely attract GUINESS BOOK OF WORLD RECORDS, LIMCA BOOK OF RECORDS and many more.
        You won't regret your experience with us and will come back with memories that will last forever.</p>
</div>
</div>

<div class="container t">
<div class="row">
    <h4 style="color:blue;">3. Major highlights of K2K The Phoenix Spirit...</h4>
    <p>K2K itself is a highlights for those who loves travelling and exploring different different places but we as a team have not only focussed on travel but
        we also promise our riders for complete entertainment and enjoyment.<br>
        Our complete ride or trip will include various live events performed by various known artists which will surely bring more energy to this complete trip
        So if you as a rider want to enjoy riding as well as these magical moments,make yourself free and ready for this astonishingtrip.</p>
</div>
<br>
<div class="row">
    <h2>Payment Structure / Payment Process</h2>
  <ul>
      <li><b style="font-size: 20px;">•</b><strong style="font-size: 15px;"> Registration fees refundable?</strong></li>
      <p>The registration fees that we are charging from all the applicants that want to be a part of K2K ride is non-refundable <strong> Rs 1000/-(incl. of all taxes).</strong>
          You will surely find a good reason behind this clause when you will go further with this document.
          </p>
          <li><b style="font-size: 20px;">•</b><strong style="font-size: 15px;"> Apart from Registration fees?</strong></li>
          <p>An applicant that wishes to be a part of this mesmerising trip has to pay the registration fees <strong>(Rs 1000/-)</strong> as mentioned in the above pointer and if out of the 1000 applications one gets selected then in order to confirm the seat a total amount of <strong>Rs 36,580/-</strong> must be paid by the applicant and the details of this amount is as follows :-</p>
          <br>
          <table>
              <tr>
                  <th>Particulars</th>
                  <th>Amount (Rs)</th>
              </tr>
              <tr>
                  <td>Registration Fees (Already Paid)</td>
                  <td>1,000/-</td>
              </tr>
              <tr>
                  <td>Trip Fees</td>
                  <td>30,000/-</td>
              </tr>
              <tr>
                  <td>GST @ 18% (Rs 31,000)</td>
                  <td>5,580/-</td>
              </tr>
              <tr>
                  <th>Total</th>
                  <td>36,580/-</td>
              </tr>
          </table>
          <br><br>
          <li><b style="font-size: 20px;">•</b><strong style="font-size: 15px;"> Why Registration fees is non-refundable?</strong></li>
          <p>The Hashtag Planners never want their customer to feel disappointed and provide them the experience that last forever.
              When an applicant pays the Registration fees he/she gets one step closer to experience the ride that is one of it’s kind and will turn out to be the best moments of their life.
             Our aim is to select those candidates that are travel-enthusiast and love riding.
             But in case you don’t get selected don’t worry we have a great news for you as well,
             the amount that you paid for the registration will make you eligible for receiving the <strong> Official K2K Merchandise (T-shirt)</strong> that will carry signatures of all the Influencers printed on it(size options will be provided)….. <strong>wowwwww.</strong>
             </p>
          
             <li><b style="font-size: 20px;">•</b><strong style="font-size: 15px;"> Why Rs 36,580/- for the complete ride?</strong></li>
             <p>Let’s compare the rides when a person travels solely and when he/she is a part of K2K The Phoenix Spirit (31 days) :- </p>
             <br>
             <table>
                 <tr>
                     <th>Particulars</th>
                     <th>Solely</th>
                     <th>With Hashtag Team</th>
                 </tr>
                 <tr>
                     <td>Accommodations</td>
                     <td>&#8377; 2000*31 = &#8377; 62,000</td>
                     <td>&#10004;</td>
                 </tr>
                 <tr>
                      <td>Food (4 Meals)</td>
                      <td>&#8377; 1,500*31 = &#8377; 31,000</td>
                      <td>&#10004;</td>
                  </tr>
                  <tr>
                      <td>Fuel (6,000km/15 km per litre = 400 litre)</td>
                      <td>&#8377; 100*400(litre) = &#8377; 40,000</td>
                      <td>&#10008;</td>
                  </tr>
                  <tr>
                      <td>Entertainment (Sufi night Garba Night Stand up comedy Magic Show K2K Closing Ceremony) </td>
                      <td>&#8377; 6,000</td>
                      <td>&#10004;</td>
                  </tr>
                  <tr>
                      <td>Adventure Activities (Trekking , Sight Seeing , Caving , Group activities) </td>
                      <td>&#8377; 10,000</td>
                      <td>&#10004;</td>
                  </tr>
                  <tr>
                      <td>Could be part of World Records</td>
                      <td>&#10008;</td>
                      <td>&#10004;</td>
                  </tr>
                  <tr>
                      <td>Miscellaneous Expenses</td>
                      <td>&#8377; 20,000</td>
                      <td>&#10004;</td>
                  </tr>
                  <tr>
                      <td>Be with your favourite influencers</td>
                      <td>&#10008;</td>
                      <td>&#10004;</td>
                  </tr>
                  <tr>
                      <th>Total</th>
                      <th>Not Worth-It</th>
                      <th>&#8377; 31,000+18% GST</th>
                  </tr>
             </table>
  </ul>
</div>

</div>
<br>


<div class="regiBtn">
    <button routerLink="/firstpage" >Register Now</button>
    <span><button routerLink="/itinerary">Itinerary</button></span>
</div>
<!--  Image Middle of K2k-->
<div class="container ifH">
    <!-- <a ></a> -->
    <!-- <a class="navbar-brand" href="#"><img src="../../assets/img/k2kmiddle.png" alt="logo" class="img-fluid" style="width: 100%;"></a> -->
    <h1>Influencers along us...</h1>
</div>
<br><br><br><br><br>


<!--Image of Influencers-->
<div class="container infulencer">
    <div class="column1 non">
      <img src="../../assets/img/Anurag dobal.png" alt="pic1" style="width:60%">
      <h5>Anurag Dobhal</h5>
    </div>
    <div class="column2 non">
      <img src="../../assets/img/Sahibnoor.png" alt="pic2" style="width:60%">
      <h5>Sahibnoor Singh</h5>
    </div>
    <div class="column3 non">
      <img src="../../assets/img/Teena chhetri.png" alt="pic3" style="width:70%">
      <h5>Teena Chhetri</h5>
    </div>
    <div class="column4 non">
        <img src="../../assets/img/Rahul Bhowmick.png" alt="pic4" style="width:60%;">
        <h5>Rahul Bhowmick</h5>
    </div>
    <div class="column5 non">
        <img src="../../assets/img/Biker boy Zakir.png" alt="pic5" style="width:70%;">
        <h5>Sheikh Zahir </h5>
    </div>
    <div class="column6 non">
        <img src="../../assets/img/reve-01.png" alt="pic6" style="width:60%;">
    </div>  
</div>
<span class="regiBtn">
    <span><button routerLink="/firstpage" >Register Now</button></span>
    <span><button routerLink="/firstpage" >Itinerary</button></span>
</span>

<br>
<br>


<app-footer></app-footer>
<!--Footer ends-->
