<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 

<div class="page-wrapper">
    <app-header></app-header>
    <div class="hero-slider-wrap">
        <div class="swiper-container hero-slider carousel slide" id="carouselControl" data-ride="carousel">
            <div class="swiper-wrapper carousel-inner">
                <div class="swiper-slide carousel-item active">
                    <div class="hero-slider-item bg-f" style="background-image: url(../../assets/img/road-1030888_1920.jpg)">
                        <div class="overlay op-4"></div>
                        <div class="container">
                            <div class="hero-slider-content tt">
                                <h3>Your Experience Our Planning</h3>
                                <p>We arrange mesmirising adventure for you.</p><br>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--Hero section ends-->
    <!--Category section starts-->
    <div class="popular-catagory  mar-top-30 pad-bot-50 section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-12">
                    <a href="">
                        <div class="popular-catagory-content v2">
                            <div class="popular-catagory-img">
                                <img src="../../assets/img/passport-2714675.jpg" alt="..." class="img_fluid">
                                <div class="overlay op-5"></div>
                            </div>
                            <div class="cat-content">
                                <i class="icofont icofont-travelling"></i>
                                <h4 class="title">Tours &amp; Travels</h4>
                                <span></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <a href="">
                        <div class="popular-catagory-content v2">
                            <div class="popular-catagory-img">
                                <img src="../../assets/img/fair-540126.jpg" alt="..." class="img_fluid">
                                <div class="overlay op-5"></div>
                            </div>
                            <div class="cat-content">
                                <i class="icofont icofont-binoculars"></i>
                                <h4 class="title">Sight Seeing</h4>
                                <span></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <a href="">
                        <div class="popular-catagory-content v2">
                            <div class="popular-catagory-img">
                                <img src="../../assets/img/restaurant.jpg" alt="..." class="img_fluid">
                                <div class="overlay op-5"></div>
                            </div>
                            <div class="cat-content">
                                <i class="icofont icofont-restaurant"></i>
                                <h4 class="title th">Hotel &amp; Restaurant</h4>
                                <span></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>    
    <!--Popular Category ends-->
    <!--Trending events starts-->
    <div class="trending-places section-padding pad-bot-130 bg-pn">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <h2 class="section-title v1">Trending Tours &amp; Events</h2>
                    
                </div>
                <div class="col-md-6">
                    <div class="swiper-container trending-place-wrap">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide trending-place-item">
                                <div class="trending-img">
                                    <img src="../../assets/img/redesigned (1).jpg" alt="#">
                                </div>
                                <div class="trending-title-box">
                                    <h4><a href="">K2K The Phoenix Spirit</a></h4>
                                    <div class="customer-review">
                                        <div class="rating-summary float-left">
                                            <div class="rating-result" title="60%">
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="trending-address">
                                        <li><i class="icofont icofont-location-pin"></i>
                                            <p>Kashmir to Kanyakumari</p>
                                        </li>
                                        <li><i class="icofont icofont-motor-bike"></i>
                                            <p>200 Bike Riders</p>
                                        </li>
                                        <li><i class="icofont icofont-calendar"></i>
                                            <p>April 1, 2021 To April 30, 2021</p>
                                        </li>
                                        <li><i class="icofont icofont-money"></i>
                                            <p>Rs 1000/-</p>
                                        </li>
                                        
                                    </ul>

                                    <div class="trending-bottom mar-top-15 pad-bot-30">

                                        <div class="trend-right float-right">
                                            <div class="trend-closed">
                                                <button class="btn btn-primary" routerLink="/k2k">Explore</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="swiper-container trending-place-wrap">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide trending-place-item">
                                <div class="trending-img">
                                    <img src="../../assets/img/ladakh.png" alt="#">
                                </div>
                                <div class="trending-title-box">
                                    <h4><a href="">Ladakh Bike Trip</a></h4>
                                    <div class="customer-review">
                                        <div class="rating-summary float-left">
                                            <div class="rating-result" title="60%">
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="trending-address">
                                        <li><i class="icofont icofont-location-pin"></i>
                                            <p>Delhi To Ladakh</p>
                                        </li>
                                        <li><i class="icofont icofont-motor-bike"></i>
                                            <p>20 Bike Riders</p>
                                        </li>
                                        <li><i class="icofont icofont-calendar"></i>
                                            <p>Dec 20,2020 To Jan 2, 2021</p>
                                        </li>

                                    </ul>

                                    <div class="trending-bottom mar-top-15 pad-bot-30">
                                        <div class="trend-right float-right">
                                            <div class="trend-closed">
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Trending events ends-->

    <!--Trial-->
    <div class="hero-client-section pad-bot-70 mar-top-10 section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <h2 class="section-title v1">Services</h2>
                </div>
                <div class="col-md-6">
                    <div class="event-wrapper v1 text-center">
                        <div class="event-img img-center v1">
                            <img src="../../assets/img/meeting.jpg" alt="...">
                        </div>
                        <div class="event-content text-center">
                            <h4 class="title">Corporate</h4>
                            <p class="info">
                                We deal in corporate events such as Fun Friday, Business Dinner, Product Launch, Seminars, Trade Shows, Charity Events.
                            </p>
                        </div>  
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="event-wrapper v1 text-center">
                        <div class="event-img img-center v1">
                            <img src="../../assets/img/weddingplanning.jpg" alt="...">
                        </div>
                        <div class="event-content text-center">
                            <h4 class="title">Wedding Planning</h4>
                            <p class="info">
                                A divine ceremony planned by professionals for a perfect start of your beautiful journey. We make your dream wedding come true.
                            </p>
                        </div>  
                    </div>
                </div>            
            </div>
        </div>
    </div>
    <!--Trial-->
    <!--Popular City starts-->
     <div class="popular-catagory section-padding pad-bot-50">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <h2 class="section-title v1">Explore your Dream Rides</h2>
                </div>
                <div class="col-md-4">
                    <div class="popular-item sm-grid mar-bot-30">
                        <div class="single-place">
                            <img class="single-place-image" src="../../assets/img/ladakh.png" alt="place-image">
                            <div class="single-place-content">
                                <h2 class="single-place-title">
                                    <a>Road trip to Ladakh</a>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="popular-item sm-grid mar-bot-30">
                        <div class="single-place">
                            <img class="single-place-image" src="../../assets/img/pangong.jpg" alt="place-image">
                            <div class="single-place-content">
                                <h2 class="single-place-title">
                                    <a>Road trip to Spiti</a>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="popular-item sm-grid mar-bot-30">
                        <div class="single-place">
                            <img class="single-place-image" src="../../assets/img/redesigned (1).jpg" alt="place-image">
                            <div class="single-place-content">
                                <h2 class="single-place-title">
                                    <a>K2K The Phoenix Spirit</a>
                                </h2>
                                <a class="btn v6 explore-place" href="/k2k">Explore</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="popular-item sm-grid mar-bot-30">
                        <div class="single-place">
                            <img class="single-place-image" src="../../assets/img/goa.jpg" alt="place-image">
                            <div class="single-place-content">
                                <h2 class="single-place-title">
                                    <a>Goa</a>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Popular Category ends-->
</div>
<!--Page Wrapper ends-->
<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->